@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html, body {
  height: 100%;
  color: var(--foreground);
  background: var(--background);
}

.historyButton svg, .clearButton{
  color: rgb(193, 193, 193);
  cursor: pointer;
}
.historyButton svg:hover,  .clearButton:hover{
  color: gray;
}
.max-h{
  max-height: 90%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -350px; 
  max-width: 350px;
  height: 100%;
  background-color: rgb(245, 245, 245);
  transition: left 0.3s ease;
}

.sidebar.visible {
  left: 0;
}
.sidebar-item{
  color:rgb(121, 121, 121);
}
.paper{
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 38rem;
}

.fade-out{
  transition: opacity 1s;
  opacity: 0;
}

.initial-scale{
  transform: scale(1);
}

.scale-out{
  transition: transform 1s;
  transform: scale(0);
  transition-delay: 1s;
}
.userInput{
  background-color: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 26px;
  width: 30rem;
}
.userInput > input{
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem; ;
}
.text-gray-on-hover:hover{
  color: gray;
}

@media screen and (max-width: 1280px) {
  .paper{
    max-width: 20rem;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar.visible {
    left: 0;
    right: 0;
    width: 100%;
    max-width: none;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 1;
  }
  .sidebar.visible > .max-h{
    max-width: 38rem;
    margin: auto;
    padding: 2px;

  }
  .paper {
    width: 90%;
  }
  .userInput{
   margin: 1rem auto;
  }
}

@media screen and (max-width: 640px) {
  .userInput{
    width: 20rem;
   }
}