@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html, body {
  height: 100%;
  color: var(--foreground);
  background: var(--background);
}

.historyButton svg{
  color: rgb(193, 193, 193);
  cursor: pointer;
}
.historyButton svg:hover{
  color: gray;
}
 

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: rgb(245, 245, 245);
  transition: left 0.3s ease;
}

.sidebar.visible {
  left: 0;
}
.sidebar-item{
  color:rgb(121, 121, 121);
}
/*
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar.visible {
  left: 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-enter {
  left: -250px;
}

.sidebar-enter-active {
  left: 0;
  transition: left 300ms ease-in;
}

.sidebar-exit {
  left: 0;
}

.sidebar-exit-active {
  left: -250px;
  transition: left 300ms ease-in;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: #f0f0f0;
} */

.fade-out{
  transition: opacity 1s;
  opacity: 0;
}

.initial-scale{
  transform: scale(1);
}

.scale-out{
  transition: transform 1s;
  transform: scale(0);
  transition-delay: 1s;
}